@model IEnumerable<Trekstore.Models.CategoriaProveedor>

@{
    ViewData["Title"] = "Index";
}
<video autoplay muted loop class="background-video">
    <source src="~/videos/video5.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<h1>Tipo de Proveedor</h1>

<p>
    <a asp-action="Create" class="custom3-link">Agregar Nuevo Tipo de proveedor</a> |
    <a asp-controller="Providers" asp-action="Index" class="custom3-link">Regresar a Proveedores</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de la categoria
            </th>
            <th>
                Descripcion de la categoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProveedorNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProveedorDescripcion)
            </td>
            <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoriaProveedorID" class="custom3-link">Editar | </a>
                        <a asp-action="Delete" asp-route-id="@item.CategoriaProveedorID" class="custom3-link">Eliminar</a>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Supervisor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoriaProveedorID" class="custom3-link">Editar</a>
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>
