@model IEnumerable<Trekstore.Models.Providers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Agregar Proveedor</a>
    <a asp-controller="PurchaseDetails" asp-action="Index">Regresar</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Proveedor
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProviderID">Editar | </a>
                        <a asp-action="Delete" asp-route-id="@item.ProviderID">Eliminar</a>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Ventas, Supervisor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProviderID">Editar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
