@model IEnumerable<Trekstore.Models.Providers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<video autoplay muted loop class="background-video">
    <source src="~/videos/video5.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<h1>Proveedores</h1>

<p>
    <a asp-action="Create">Agregar Proveedor</a> |
    <a asp-controller="CategoriaProveedor" asp-action="Index">Agregar Tipo Proveedor</a> |
    <a asp-controller="PurchaseDetails" asp-action="Index">Regresar a Detalles de Compras</a>

</p>
<form method="get" asp-controller="Providers" asp-action="Index">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Buscar por nombre de producto" value="@ViewData["CurrentFilter"]" />
        <br />
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Proveedor
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th>
                Tipo de Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaProveedor.CategoriaProveedorNombre)
            </td>
            <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProviderID">Editar | </a>
                        <a asp-action="Delete" asp-route-id="@item.ProviderID">Eliminar</a>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Ventas, Supervisor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProviderID">Editar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
