@model IEnumerable<Trekstore.Models.PurchaseDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reporte de Compras</h1>

<p>
    <a asp-controller="Providers" asp-action="Index">Agregar Proveedor</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad
            </th>
            <th>
                Fecha de Compra
            </th>
            <th>
                Producto
            </th>
            <th>
                Proveedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
                <a asp-action="Edit" asp-route-id="@item.purch_id">Editar | </a> 
                <a asp-action="Delete" asp-route-id="@item.purch_id">Eliminar</a>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Supervisor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.purch_id">Editar</a>
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>
