@model IEnumerable<Trekstore.Models.PurchaseDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reporte de Compras</h1>

<p>
    <a asp-controller="Providers" asp-action="Index">Add Provider</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.purch_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.purch_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.purch_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
