@model IEnumerable<Trekstore.Models.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nueva Categoria</a> |
    <a asp-controller="Products" asp-action="Index">Regresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaDescripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
