@model IEnumerable<Trekstore.Models.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Nueva Categoria</a> |
    <a asp-controller="Products" asp-action="Index">Regresar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Categoria
            </th>
            <th>
                Descripcion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
                </td>
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoryID">Editar | </a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryID">Eliminar</a>
                    }

                    @if (ViewContext.HttpContext.User.IsInRole("Supervisor"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoryID">Editar</a>


                    }
                </td>
            </tr>
        }
    </tbody>
</table>
