@model IEnumerable<Trekstore.Models.SalesDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reporte de Ventas</h1>

<p>
    <a asp-controller="Clients" asp-action="Index">Clients</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Apellido")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.SalesDetailsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalesDetailsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalesDetailsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
